# Email Configuration (Brevo SMTP)
EMAIL_HOST=smtp-relay.brevo.com
EMAIL_PORT=587
EMAIL_USER="793950001@smtp-brevo.com"
EMAIL_PASS=H91w7hGmM4YyfPU0
# EMAIL_FROM removed - using user's email from form as sender
EMAIL_TO=ranjeet.singh@myrixlabs.com

# Environment
NODE_ENV=production